body
{
  font-family: verdana,arial,helvetica,sans-serif;
  max-width: 1654px;
  margin: auto;
  font-size: 0.85em;
}
/* Transformation des titres h1 et h2 en majuscule sur tout de document */
h1, h2
{
  text-transform: uppercase;
}

/* parametrage du header */
header
{
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 2em;
}
/* centrage de la photo sur le header*/
header aside
{
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
/* bloc photo gestion de la largeur du bloc et de la couleur de fond */
#photo
{
  width: 30%;
  background-color: #BCAAA4;
}
/* formatage de la photo */
#phototaille
{
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
}
/* parametrage du titre du header */
#titre
{
  width: 70%;
  text-align: left;
  padding: 50px 0px 50px 50px;
}
/* changement de la couleur d'une parti du titre via le span */
#titre h1 span
{
  color: #BCAAA4;
}
/*soulignement partiel du sous titre via le span */
#titre p span
{
  text-decoration: solid underline #BCAAA4;
}
/* gestion des blocs gauche et droit du corp de la page */
#corp
{
  display: flex;
  flex-direction: row;
}



/* Gestion de la partie gauche du site "Contact et A propos de moi" */
/* Affectation d'une largeur à la partie gauche */
section .contenu_gauche
{
  display: flex;
  flex-direction: column;
  background-color: #BCAAA4;
  width: 30%;
}
/* Ajout d'une marge basse au contact */
.contenu_gauche aside
{
  margin-bottom: 30px;
}
/* Mise en style des titres h1 du bandeau vertical gauche */
.contenu_gauche h1
{
  text-align: center;
  background-color: #455A64;
  color: #BCAAA4;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 10px 0px 10px 0px;
}
/* Padding pour le décalage du texte des balises p */
.contenu_gauche p
{
  padding-left: 50px;
}
/* Enlever le soulignement des adresses mail et site web */
.decAdresse
{
  text-decoration: none;
}
/* Mise en page type justifié sur le paragraphe à propos de moi */
#justif
{
  padding-right: 50px;
  text-align: justify;
}




/* Gestion de la partie droite du site "Formation et Expérience pro" */
/* Mise en place de la largeur de la partie droite */
section .contenu_droite
{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 50px;
}
/* mise en forme des titres h1 du bandeau vertical droit*/
.contenu_droite h1
{
  border-bottom-style: solid;
  border-bottom-color: #BCAAA4;
  width: 90%;
}
/* Mise en style des icones dans les balise i des titres h1 */
.contenu_droite i
{
  color: #BCAAA4;
  padding-right: 40px;
}
/* "orgadroite" est la mise en page et en style du contenu du bandeau droit*/
.orgadroite
{
  display: flex;
  flex-direction: row;
}
.orgadroite i
{
  padding-top: 20px;
}
.orgadroite aside
{
  display: flex;
  flex-direction: row;
  width: 30%
}
.orgadroite article
{
  width: 60%;
  padding-bottom: 20px;
}
.orgadroite article p
{
  text-align: justify;
}
.decTexteBas
{
  padding-bottom: 50px;
}


/* gestion du footer */
/* Mise en couleur du footer */
footer
{
  display: flex;
  flex-direction: row;
  background-color: #BCAAA4;
}
/* Definition de la largeur gauche du footer */
footer aside
{
  width: 30%;
  margin-top: 50px;
}
/* Definition de la largeur droite du footer */
footer article
{
  width: 70%;
  padding-left: 50px;
  background-color: white;
}
/* Mise en style et placement des icones*/
footer aside ul
{
  font-size: 2em;
  width: 100%;
  padding: 0px;
  display: inline-flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 0px;
}
/* Ajout de l'arrondi autour des icones loisir*/
#piedgauche li
{
  border: solid;
  border-radius: 50%;
}
/* Placement des div en horizontal */
footer article div
{
  width: 40%;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* Suppression des listes à puces */
footer article div ul
{
  list-style: none;
}
/* Suppression des soulignements sur les adresses mail*/
footer article div ul li a
{
  text-decoration: none;
}





/*----------Media Queries -----------------*/
/* Gestion d'une version tablette portrait */

@media screen and (max-width: 768px)
{
  body
  {
    font-size: 1.7vw;
    margin: auto;
  }
  /* Changement de la taille de photo */
  #phototaille
  {
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
  }
  /* Changement de direction des blocs pour la version mobile*/
  #corp, footer
  {
    display: flex;
    flex-direction: column;
  }
  /* Changement de taille des titres du header*/
  header h1
  {
    font-size: 4vw;
  }
  header p
  {
    font-size: 2.5vw;
  }
  /* affection d'une lageur totale au bloc */
  section .contenu_gauche, section .contenu_droite, footer .contenu_gauche, footer .contenu_droite
  {
    width: 100%;
  }
  section .contenu_droite
  {
    padding-left: 0px;
  }
  section .contenu_droite h1, section .contenu_droite aside
  {
    margin-left: 50px;
  }
  /* Réduction des marges des titres contact, a propos et loisir */
  .contenu_gauche aside 
  {
    margin-bottom: 15px;
  }
  .contenu_gauche aside h1
  {
    margin-bottom: 15px;
  }
  .contenu_gauche h1
  {
    margin-bottom: 0px;
  }
  /* Mise en forme des éléments de contact sur 2 colonnes en mobile et tablette */
  .double_mobile
  {
    width: 40%;
    display: inline-flex;
    flex-direction: column;
  }
  /* bandeau recommandation inverser la positon avec Loisir */
  footer .contenu_droite
  {
    padding-left: 0px;
  }
  footer .contenu_droite h1, footer .contenu_droite article
  {
    margin-left: 50px;
  }
  footer article
  {
    order: -1;
    padding-bottom: 30px;
  }
  footer aside
  {
    margin-top: 0px;
  }
  footer aside ul
  {
    padding-top: 20px;
  }
}

/*----------Media Queries ------------------*/
/* Gestion d'une version tablette Landscape */
@media screen and (max-width: 1024px) and (orientation: landscape)
{
  body
  {
    font-size: 1.3vw;
    margin: auto;
  }
  #phototaille
  {
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
  }
  
}


/*----------Media Queries -----------------*/
/* Gestion d'une version mobile portrait */

@media screen and (max-width: 425px) and (orientation: portrait)
{
  body
  {
    font-size: 2vw;
    margin: auto;
  }
  /* suppression de la photo */
  #photo
  {
    display: none;
  }
  /* Ajustement du titre */
  #titre
  {
    width: 100%;
    text-align: left;
    padding: 20px 0px 20px 50px;
  }
  /* Changement de direction des blocs pour la version mobile*/
  #corp, footer, .orgadroite
  {
    display: flex;
    flex-direction: column;
  }
  /* Changement de taille des titres du header*/
  header h1
  {
    font-size: 5vw;
  }
  header p
  {
    font-size: 2.5vw;
  }
  /* affection d'une lageur totale au bloc + changement des paddings*/
  section .contenu_gauche, section .contenu_droite, footer .contenu_gauche, footer .contenu_droite
  {
    width: 100%;
  }
  section .contenu_droite
  {
    padding-left: 0px;
  }
  section .contenu_droite h1, section .contenu_droite aside, section .contenu_droite article
  {
    margin-left: 50px;
  }
  /* Réduction des marges des titres contact, a propos et loisir */
  .contenu_gauche aside 
  {
    margin-bottom: 15px;
  }
  .contenu_gauche aside h1
  {
    margin-bottom: 15px;
  }
  .contenu_gauche h1
  {
    margin-bottom: 0px;
  }
  /* Mise en forme des éléments de contact sur 2 colonnes en mobile et tablette */
  .double_mobile
  {
    width: 40%;
    display: inline-flex;
    flex-direction: column;
  }
  .contenu_droite h1
  {
    border-bottom-style: solid;
    border-bottom-color: #BCAAA4;
    width: 80%;
  }

  .contenu_droite aside, .contenu_droite article
  {
    width: 80%;
  }
  footer .contenu_droite
  {
    padding-left: 0px;
  }
  footer .contenu_droite h1, footer .contenu_droite article
  {
    margin-left: 50px;
  }
  /* bandeau "recommandation" inverser avec la positon "Loisir" plus mise en page */
  footer article
  {
    order: -1;
    padding-bottom: 30px;
  }
  footer aside
  {
    margin-top: 0px;
  }
  footer aside ul
  {
    padding-top: 20px;
  }
}

}
